<div class="base_form">

  <div class="center">
    <a style="font-size:28px">Редактирование</a>

    <%= render "form", user: @user %>

    <form action="/users/<%=@user.id%>" style="margin-top: 20px">
      <button>Выйти из режима редактирования</button>
    </form>
  </div>

</div>