<!doctype html>
<html>
    <head>
        <title><%= t("pages.not_found_page")%></title>
    </head>
    <body>
        <div class="base_form">
            <h1><%= t("errors.page_not_exists")%></h1>
            <h1><%= t("errors.page_not_exists")%></h1>
            <h1><%= t("errors.page_not_exists")%></h1>
        </div>
    </body>
</html>