<!doctype html>
<html>
    <head>
        <title><%= t("pages.not_found_page")%></title>
        <link rel="stylesheet" href="../assets/stylesheets/application.css">
    </head>
    <body>
        <h1 class="base_form"><%= t("errors.Такой страницы не существует!")%></h1>
    </body>
</html>